<launch>
                     <!--                UWB Positioning System.            -->
<node pkg="nlink_parser" type="linktrack" name="linktrack0" output="screen">
    <param name="port_name" value="/dev/usb_uwb" />
    <param name="baud_rate" value="921600" />
    <param name="SendDataMsgTopic" value="/uwb0/msg_to_other"/>
    <param name="UwbInforMsgTopic" value="/uwb0/information"/>
    <param name="RecvDataMsgTopic" value="/uwb0/msg_from_other"/>
</node>
<node pkg="uwb_wrapper" type="uwb_wrapper_node" name="uwb_wrapper_node" output="screen">
    <param name="UwbInforMsgTopic" value="/uwb0/information"/>
    <param name="DistanceMsgTopic" value="/mavros/distance_sensor/hrlv_ez4_pub"/>
    <param name="UwbPosMsgTopic" value ="/mavros/vision_pose/pose"/>
    <param name="UwbDistanceTopic" value="/uwb0/distance"/>
    <param name="UwbInstallHeigh" value="3.0"/>
    <param name="LocalPositionModel" value="true"/>
    <param name="VisonPosPubHz" value="30.0"/>
    <param name="DataValidMsgPubTopic" value="/uwb0/data/valid"/>
</node>
                    <!--    The Connection of Onboard Computer and PX4.   -->
<include file="$(find mavros)/launch/px4.launch">
</include>

                   <!--    The Connection of Onboard Computer and Network Server.   -->
<node name="dt_network_client" pkg="dt_network_client" type="dt_network_client" output="screen">
      <param name="port" value="8080" />
      <param name="ros_pub_topic" value="/from/Server/data" />
      <param name="ros_sub_topic" value="/to/Server/data"/>
      <param name="data_recv_rate_hz" value="1000"/>
      <param name="server_ip" value="100.101.155.46"/>
</node>
                  <!--    The UAV Information are packed and sent to the Network Server.   -->
<node name="uav_msg_pack_center" pkg="message_pack" type="uav_message_pack_node" output="screen">
      <param name="SourceID" value="1"/>
      <param name="TargetID" value="101"/>
      <param name="IotMessagePubTopic" value="/to/Server/data"/>
      <param name="GlobalPositionMessageSubTopic" value="/mavros/global_position/global"/>
      <param name="LocalPositionMessageSubTopic" value="/uav/local_position/local_pose"/>
      <param name="LocalVelocityMessageSubTopic" value="/mavros/local_position/velocity_body"/>
      <param name="UavStateMessageSubTopic" value="/mavros/state"/>
      <param name="MessagePubFrequency" value="30"/>
      <param name="ObjectMotionModelMessageSubTopic" value="/model_learner/model_parameter"/>
      <param name="NetworkDelayTimeMessageSubTopic" value="/network_delay/recv_delay"/>
</node>
                <!--    The MPC Tracking Controller Wrapper.   -->
<node name="controller_network_wrapper" pkg="kf_mpc_controller4" type="controller_network_wrapper_node4" output="screen">
      <param name="network_message_sub_topic" value="/from/Server/data"/>                               <!-- This topic data from network communication -->
      <param name="dt_object_position_pub_topic" value="/virtual/current_position"/>                    <!-- This topic data publish the dt object position-->
      <param name="virtual_guide_pub_topic" value="/virtual_guide/cmd"/>
      <param name="virtual_guide_control_pub_topic" value="/virtual_guide/type"/>
      <param name="dt_object_position_recv_hz" value="30.0"/>                                           <!-- This equal to virtual object position published frequency. -->
      <param name="is_unity" value="false"/>
      <param name="network_delay_pub_topic" value="/network_delay/recv_delay"/>
      <param name="network_delay_pub_hz" value="30.0"/>
      <param name="predict_window" value="8"/>                                                          <!--The window size for predicting further system state(predicted steps)-->
      <param name="predict_time_dt" value="0.033"/>                                                     <!--The predicted time step for least square-->
      <param name="target_position_pub_topic" value="/controller/target_position"/>
      <param name="model_learner_control_pub_topic" value="/model_learner/control"/>
</node>
              <!--    The MPC Tracking Controller.   -->
<node name="mpc_controller" pkg="kf_mpc_controller4" type="mpc_controller_node4" output="screen">
      <param name="current_position_sub_topic" value="/uav/local_position/local_pose"/>                          <!-- This topic data from sensor measure by GPS or UWB or other located system -->
      <param name="target_position_sub_topic" value="/controller/target_position"/>                           <!-- This tipic data from state predictor-->
      <param name="controller_output_pub_topic" value="/other_controller/target_velocity"/>                   <!-- This topic data to px4 controller-->
      <param name="update_model_parameter_sub_topic" value="/model_learner/model_parameter"/>
      <param name="predict_time_dt_pub_topic" value="/controller/predict_time_dt"/>
      <param name="controller_running_hz" value="30"/>                                                        <!--The mpc controller running frequency -->
      <param name="state_dim" value="3"/>
      <param name="observe_dim" value="3"/>
      <param name="input_dim" value="3"/>
      <param name="control_window" value="5"/>
      <param name="predict_window" value="8"/>
      <param name="max_velocity" value = "1.0"/>
      <param name="sample_time" value="0.33"/><!--0.53-->
      <param name="out_cost" value="0.00020"/><!--0.00025-->
      <param name="tracking_cost" value="0.9"/>
</node>
             <!--    The System Model Estimator.   -->
<node name="model_learner" pkg="kf_mpc_controller4" type="model_learner_node4" output="screen">
      <param name="local_position_sub_topic" value="/uav/local_position/local_pose"/>
      <param name="target_velocity_sub_topic" value="/mavros/local_position/velocity_body"/>
      <param name="update_model_parameter_pub_topic" value="/model_learner/model_parameter"/>
      <param name="model_learner_info_pub_topic" value="/model_learner/information"/>
      <param name="model_learner_control_sub_topic" value="/model_learner/control"/>
      <param name="model_learner_run_hz" value="30.0"/>
      <param name="is_model_range" value="false"/>
      <param name="model_err_x" value = "0.00018"/>
      <param name="model_err_y" value = "0.00018"/>
      <param name="model_err_z" value = "0.00018"/>
      <param name="init_sample_time_x" value = "2"/>
      <param name="init_sample_time_y" value = "2"/>
      <param name="init_sample_time_z" value = "2"/>
</node>
           <!--    The Fusion Moduel to Deal with the Output of MPC Controller and Virtual Guidance.   -->
<node name="fusion_controller" pkg="kf_mpc_controller4" type="fusion_controller_node2" output="screen">
      <param name="mpc_controller_output_sub_topic" value="/other_controller/target_velocity"/>
      <param name="virtual_guide_output_sub_topic" value="/virtual_guide/cmd"/>
      <param name="virtual_guide_control_sub_topic" value="/virtual_guide/type"/>
      <param name="virtual_guide_hz" value="30"/>
      <param name="target_velocity_pub_topic" value="/target/cmd"/>
      <param name="min_velocity" value="-1.0"/>
      <param name="max_velocity" value="1.0"/>
      <param name="controller_info_pub_topic" value="/controller_info"/>
</node>
           <!--    The Velocity Control Wrapper of PX4.   -->
<node name="px4_velocity_rc_control_wrapper" pkg="px4_control_wrapper" type="px4_velocity_rc_control_wrapper" output="screen">
      <param name="px4_ref_vel_msg_pub_topic" value="/mavros/setpoint_velocity/cmd_vel_unstamped"/>        <!--The Target Velocity Message to PX4-->
      <param name="tgt_vel_msg_sub_topic" value="/target/cmd"/>                                            <!--The Target Velocity from Other Controller-->
      <param name="px4_rc_msg_sub_topic" value="/mavros/rc/in"/>                                           <!--The RC Information from PX4-->
      <param name="run_frequen_hz" value="50.0"/>                                                          <!--The Frequen of Target Velocity Message To PX4-->
      <param name="rc_start_ch" value="5"/>                                                                <!--The RC Channel of Start Vehicle-->
      <param name="rc_land_ch" value="6"/>
      <param name="is_check_data_valid" value="true"/>
      <param name="data_valid_sub_topic" value="/uwb0/data/valid"/><!--The RC Channel of Land Vehicle-->
      <param name="is_local_pos" value="true"/>
      <param name="uav_pos_sub_topic" value="/mavros/local_position/pose"/>
      <param name="uav_local_pos_pub_topic" value="/uav/local_position/local_pose"/>
  </node>

</launch>
