<launch>
<arg name="uav" default="uav1"/>
<node name="dt_network_client_$(arg uav)" pkg="dt_network_client" type="dt_network_client" output="screen">
      <param name="port" value="8080" />
      <param name="ros_pub_topic" value="/$(arg uav)/from/Server/data" />
      <param name="ros_sub_topic" value="/$(arg uav)/to/Server/data"/>
      <param name="data_recv_rate_hz" value="1000"/>
      <param name="server_ip" value="100.101.155.46"/>
</node>

<node name="uav_msg_pack_center_$(arg uav)" pkg="message_pack" type="uav_message_pack_node" output="screen">
      <param name="SourceID" value="1"/>
      <param name="TargetID" value="101"/>
      <param name="IotMessagePubTopic" value="/$(arg uav)/to/Server/data"/>
      <param name="GlobalPositionMessageSubTopic" value="/$(arg uav)/mavros/global_position/global"/>
      <param name="LocalPositionMessageSubTopic" value="/$(arg uav)/mavros/local_position/pose"/>
      <param name="LocalVelocityMessageSubTopic" value="/$(arg uav)/mavros/local_position/velocity_body"/>
      <param name="UavStateMessageSubTopic" value="/$(arg uav)/mavros/state"/>
      <param name="MessagePubFrequency" value="30"/>
      <param name="ObjectMotionModelMessageSubTopic" value="/$(arg uav)/model_learner/model_parameter"/>
      <param name="NetworkDelayTimeMessageSubTopic" value="/$(arg uav)/network_delay/recv_delay"/>
</node>

<node name="controller_network_wrapper_$(arg uav)" pkg="kf_mpc_controller4" type="controller_network_wrapper_node4" output="screen">
      <param name="network_message_sub_topic" value="/$(arg uav)/from/Server/data"/>                          <!-- This topic data from network communication -->
      <param name="dt_object_position_pub_topic" value="/$(arg uav)/virtual/current_position"/>                    <!-- This topic data publish the dt object position-->
      <param name="virtual_guide_pub_topic" value="/$(arg uav)/virtual_guide/cmd"/>
      <param name="virtual_guide_control_pub_topic" value="/$(arg uav)/virtual_guide/type"/>
      <param name="dt_object_position_recv_hz" value="30.0"/><!-- This equal to virtual object position published frequency. -->
      <param name="is_unity" value="false"/>
      <param name="network_delay_pub_topic" value="/$(arg uav)/network_delay/recv_delay"/>
      <param name="network_delay_pub_hz" value="30.0"/>
      <param name="predict_window" value="8"/>                                                     <!--The window size for predicting further system state(predicted steps)-->
      <param name="predict_time_dt" value="0.033"/>                                                  <!--The predicted time step for least square-->
      <param name="target_position_pub_topic" value="/$(arg uav)/controller/target/position"/>
      <param name="model_learner_control_pub_topic" value="/model_learner/control"/>
</node>

<node name="fusion_controller" pkg="kf_mpc_controller4" type="fusion_controller_node2" output="screen">
      <param name="mpc_controller_output_sub_topic" value="/$(arg uav)/other_controller/target_velocity"/>
      <param name="virtual_guide_output_sub_topic" value="/$(arg uav)/virtual_guide/cmd"/>
      <param name="virtual_guide_control_sub_topic" value="/$(arg uav)/virtual_guide/type"/>
      <param name="virtual_guide_hz" value="30"/>
      <param name="target_velocity_pub_topic" value="/$(arg uav)/target/cmd"/>
      <param name="min_velocity" value="-1.0"/>
      <param name="max_velocity" value="1.0"/>
       <param name="controller_info_pub_topic" value="/controller_info"/>
</node>

<node name="px4_velocity_control_wrapper_$(arg uav)" pkg="px4_simulation_wrapper" type="px4_velocity_control_wrapper" output="screen">
      <param name="px4_ref_vel_msg_pub_topic" value="/$(arg uav)/mavros/setpoint_velocity/cmd_vel_unstamped"/>        <!--The Target Velocity Message to PX4-->
      <param name="tgt_vel_msg_sub_topic" value="/$(arg uav)/target/cmd"/>                                            <!--The Target Velocity from Other Controller-->
      <param name="px4_state_msg_sub_topic" value="/$(arg uav)/mavros/state"/>                                        <!--The State of PX4-->
      <param name="px4_rc_msg_sub_topic" value="/$(arg uav)/mavros/rc/in"/>                                           <!--The RC Information from PX4-->
      <param name="px4_arming_client_topic" value="/$(arg uav)/mavros/cmd/arming"/>                                   <!--The Arm to PX4-->
      <param name="px4_set_mode_client_topic" value="/$(arg uav)/mavros/set_mode"/>                                   <!--The mode setting to PX4-->
      <param name="run_frequen_hz" value="50.0"/>                                                          <!--The Frequen of Target Velocity Message To PX4-->
      <param name="rc_start_ch" value="5"/>                                                                <!--The RC Channel of Start Vehicle-->
      <param name="rc_land_ch" value="6"/>                                                                 <!--The RC Channel of Land Vehicle-->
  </node>

<node name="rc_controller_$(arg uav)" pkg="rc_control" type="rc_control" output="screen">
      <param name="start_offboard_pub_topic" value="/$(arg uav)/mavros/rc/in"/>
      <param name="target_object_position_pub_topic" value = "/$(arg uav)/ref_uav/pose"/>
      <param name="start_offboard_ch" value="5"/>
      <param name="land_ch" value="6"/>
</node>
</launch>
