<launch>
                                             <!--     simulator online     -->
<node name="simulator_network_delay_model" pkg="network_delay_model" type="network_delay_model_node" output="screen">
      <param name="virtual_object_position_sub_topic" value="/V_UAV_1/LocalPosition/Pose"/>
      <param name="virtual_object_position_pub_topic" value="/virtual/uav1/current_position"/>
      <param name="physical_object_position_sub_topic" value="/simulator/position_sensor/data"/>
      <param name="physical_object_position_pub_topic" value="/network1/simulator/position_sensor/data"/> <!--No use-->
      <param name="reset_object_sub_topic" value="/simulator/reset"/>
      <param name="predict_window" value="8"/>                                                     <!--The window size for predicting further system state(predicted steps)-->
      <param name="predict_time_dt" value="0.033"/>                                                  <!--The predicted time step for least square-->
      <param name="target_position_pub_topic" value="/simulator/controller/target_position"/>
      <param name="virtual2physical_delay_time_sub_topic" value="/delay_time/v2p"/>
      <param name="physical2virtual_delay_time_sub_topic" value="/delay_time/p2v"/>
      <param name="v2p_noise_mu" value="0.0"/>
      <param name="v2p_noise_sigma" value="5.001"/>
      <param name="p2v_noise_mu" value="0.0"/>
      <param name="p2v_noise_sigma" value="5.001"/>
      <param name="virtual_guide_type_sub_topic" value="/simulator/virtual_guide/type"/>
      <param name="virtual_guide_type_pub_topic" value="/network/simulator/virtual_guide/type"/>
      <param name="virtual_guide_cmd_sub_topic" value="/simulator/virtual_guide/cmd"/>
      <param name="virtual_guide_cmd_pub_topic" value="/network/simulator/virtual_guide/cmd"/>
      <param name="physical_uav_position_sub_topic" value="/simulator/position_sensor/data"/>
      <param name="physical_uav_position_pub_topic" value="/network/simulator/position_sensor/data"/>
      <param name="physical_uav_move_state_pub_topic" value="/network/simulator/uav/position"/>
</node>
<node name="simulator_mpc_controller" pkg="kf_mpc_controller4" type="mpc_controller_node4" output="screen">
      <param name="current_position_sub_topic" value="/simulator/position_sensor/data"/>                          <!-- This topic data from sensor measure by GPS or UWB or other located system -->
      <param name="target_position_sub_topic" value="/simulator/controller/target_position"/>                           <!-- This tipic data from state predictor-->
      <param name="controller_output_pub_topic" value="/simulator/mpc_controller/output"/>              <!-- This topic data to px4 controller-->
      <param name="update_model_parameter_sub_topic" value="/model_learner/model_parameter"/>
      <param name="predict_time_dt_pub_topic" value="/simulator/controller/predict_time_dt"/>
      <param name="reset_object_sub_topic" value="/simulator/reset"/>
      <param name="system_running_control_sub_topic" value="/system_running/control"/>
      <param name="controller_running_hz" value="30"/>                                                        <!--The mpc controller running frequency -->
      <param name="state_dim" value="3"/>
      <param name="observe_dim" value="3"/>
      <param name="input_dim" value="3"/>
      <param name="control_window" value="5"/>
      <param name="predict_window" value="8"/>
      <param name="max_velocity" value = "1.0"/>
      <param name="sample_time" value="0.53"/>
      <param name="control_out_cost" value="0.0002"/>
      <param name="tracking_cost" value="0.9"/>
</node>

<node name="simulator_fusion_controller" pkg="kf_mpc_controller4" type="fusion_controller_node2" output="screen">
      <param name="mpc_controller_output_sub_topic" value="/simulator/mpc_controller/output"/>                          <!-- This topic data from network communication -->
      <param name="virtual_guide_output_sub_topic" value="/network/simulator/virtual_guide/cmd"/>                    <!-- This topic data publish the dt object position-->
      <param name="virtual_guide_control_sub_topic" value="/network/simulator/virtual_guide/type"/>
      <param name="virtual_guide_hz" value="30"/>
      <param name="target_velocity_pub_topic" value="/simulator/model/input"/>
      <param name="min_velocity" value="-1.0"/>
      <param name="max_velocity" value="1.0"/>
</node>

<node name="object_move_simulator" pkg="kf_mpc_controller4" type="object_move_simulator_node4" output="screen">
      <param name="object_input_sub_topic" value="/simulator/model/input"/>                            <!-- This topic data from controller -->
      <param name="reset_object_sub_topic" value="/simulator/reset"/>
      <param name="sensor_data_pub_topic" value="/simulator/position_sensor/data"/>                    <!-- This topic data to controller-->
      <param name="start_simulator_pub_topic" value="/simulator/start"/>
      <param name="simulator_run_hz" value="30"/>                                                      <!--The simulator running frequency -->
      <param name="model_noise_mu" value="0.0"/>
      <param name="model_noise_sigma" value="0.001"/>
      <param name="sensor_noise_mu" value="0.0"/>
      <param name="sensor_noise_sigma" value="0.001"/>
</node>

<node name="state_estimator" pkg="kf_mpc_controller4" type="state_estimator_node4" output="screen">                                                               <!--The kalman filter running frequency -->
      <param name="dt_obj_position_sub_topic" value="/network/simulator/uav/position"/>                     <!-- This topic data from digital twin object -->
      <param name="est_move_state_pub_topic" value="/simulator/uav/current_move_state"/>                    <!-- This topic data from kalman filter-->
      <param name="kf_information_pub_topic" value="/simulator/state_estimator/information"/>
      <param name="reset_object_sub_topic" value="/simulator/reset"/>
      <param name="kf_run_hz" value="30"/>                                                                 <!-- The kalman filter running frequency -->
      <param name="update_measure_err_k" value="45.0"/>                                                     <!-- The gain of update measured error-->
</node>

<node name="state_predictor" pkg="kf_mpc_controller4" type="state_predictor_node4" output="screen">
      <param name="predict_positiong_pub_topic" value="/simulator/controller/predict_target_position"/>              <!-- This topic data from least square predict -->
      <param name="system_state_sub_topic" value="/simulator/uav/current_move_state"/>              <!-- This topic data from kalman filter-->
      <param name="predict_time_dt_sub_topic" value="/simulator/predict_time_dt"/>           <!--This topic data from mpc controller-predict time-->
      <param name="state_predictor_info_pub_topic" value="/simulator/state_predictor/information"/>
      <param name="reset_object_sub_topic" value="/simulator/reset"/>
      <param name="predictor_x_pub_topic" value="/simulator/predictor/x"/>
      <param name="predictor_y_pub_topic" value="/simulator/predictor/y"/>
      <param name="predictor_z_pub_topic" value="/simulator/predictor/z"/>
      <param name="predictor_cur_position_pub_topic" value="/simulator/uav/position/local"/>
      <param name="predictor_run_hz" value="30"/>                                                  <!--The kalman filter running frequency -->
      <param name="save_data_window" value="20"/>                                                  <!--The window size for save data from kalman filter -->
      <param name="max_predict_data_window" value="10"/>                                                <!--The window size of state data for least square predictior -->
      <param name="min_predict_data_window" value="4"/>                                                  <!--The window size of state data for least square predictior -->
      <param name="predict_window" value="3"/>                                                     <!--The window size for predicting further system state(predicted steps)-->
      <param name="predict_order" value="3"/>                                                      <!--The predicted function order-->
      <param name="predict_time_dt" value="0.03"/>                                                  <!--The predicted time step for least square-->
      <param name="queue_check_error" value="0.01"/>                                              <!--The error value to check the system state queue to used different predict ways-->
      <param name="max_velocity_x" value = "1.0"/>
      <param name="max_velocity_y" value = "1.0"/>
      <param name="max_velocity_z" value = "1.0"/>

</node>


<arg name="uav" default="physical_uav"/>

<node name="dt_network_client_$(arg uav)" pkg="dt_network_client" type="dt_network_client" output="screen">
      <param name="port" value="8080" />
      <param name="ros_pub_topic" value="/$(arg uav)/from/Server/data" />
      <param name="ros_sub_topic" value="/$(arg uav)/to/Server/data"/>
      <param name="data_recv_rate_hz" value="1000"/>
      <param name="server_ip" value="100.101.155.46"/>
</node>

<node name="uav_pack_center_uav" pkg="physical_message_pack2" type="physical_message_pack2_node" output="screen">
      <param name="SourceID" value="101"/>
      <param name="TargetID" value="1"/>
      <param name="iot_pub_topic" value="/$(arg uav)/to/Server/data"/>
      <param name="virtual_object_position_sub_topic" value="/V_UAV_1/LocalPosition/Pose"/>
      <param name="virtual_guide_sub_topic" value="/physical_uav/virtual_guide/cmd"/>
      <param name="virtual_guide_control_sub_topic" value="/physical_uav/virtual_guide/type"/>
      <param name="model_learner_control_sub_topic" value="/model_learner_control"/>
      <param name="system_running_control_sub_topic" value="/system_running/control"/>
</node>

<node name="uav_msg_unpack_center" pkg="physical_message_unpack" type="physical_message_unpack" output="screen">
      <param name="iot_msg_sub_topic" value="/$(arg uav)/from/Server/data"/>
      <param name="local_position_msg_pub_topic" value="/physical_uav/local/position"/>
      <param name="velocity_msg_pub_topic" value="/physical_uav/velocity"/>
      <param name="dt_object_position_recv_hz" value="30.0"/>
      <param name="v2p_delay_time_msg_pub_topic" value="/delay_time/v2p"/>
      <param name="p2v_delay_time_msg_pub_topic" value="/delay_time/p2v"/>
      <param name="update_model_msg_pub_topic" value="/updata_model/info"/>
      <param name="object_move_position_pub_topic" value="/physical_uav/current_position"/>
  </node>

<node name="state_estimator_$(arg uav)" pkg="virtual_guide_predictor" type="state_estimator_node3" output="screen">
      <param name="dt_obj_position_sub_topic" value="/physical_uav/current_position"/>                     <!-- This topic data from digital twin object -->
      <param name="est_move_state_pub_topic" value="/physical_uav/current_move_state"/>                    <!-- This topic data from kalman filter-->
      <param name="kf_information_pub_topic" value="/state_estimator/information"/>
      <param name="kf_run_hz" value="30"/>                                                                 <!--The kalman filter running frequency -->
      <param name="update_measure_err_k" value="45.0"/>                                                     <!-- The gain of update measured error-->
</node>

<node name="state_predictor_$(arg uav)" pkg="virtual_guide_predictor" type="state_predictor_node3" output="screen">
      <param name="predict_positiong_pub_topic" value="/physical_uav/controller/target_position"/>           <!-- This topic data from least square predict -->
      <param name="system_state_sub_topic" value="/physical_uav/current_move_state"/>              <!-- This topic data from kalman filter-->
      <param name="predict_time_dt_sub_topic" value="/$(arg uav)/controller/predict_time_dt"/>           <!--This topic data from mpc controller-predict time-->
      <param name="state_predictor_info_pub_topic" value="/physical_uav/state_predictor/information"/>
      <param name="predictor_x_pub_topic" value="/physical_uav/predictor/x"/>
      <param name="predictor_y_pub_topic" value="/physical_uav/predictor/y"/>
      <param name="predictor_z_pub_topic" value="/physical_uav/predictor/z"/>
      <param name="predictor_cur_position_pub_topic" value="/physical_uav/position/local"/>
      <param name="predictor_run_hz" value="30"/>                                                  <!--The kalman filter running frequency -->
      <param name="save_data_window" value="20"/>                                                  <!--The window size for save data from kalman filter -->
      <param name="max_predict_data_window" value="10"/>                                                <!--The window size of state data for least square predictior -->
      <param name="min_predict_data_window" value="4"/>                                                  <!--The window size of state data for least square predictior -->
      <param name="predict_window" value="3"/>                                                     <!--The window size for predicting further system state(predicted steps)-->
      <param name="predict_order" value="3"/>                                                      <!--The predicted function order-->
      <param name="predict_time_dt" value="0.03"/>                                                  <!--The predicted time step for least square-->
      <param name="queue_check_error" value="0.001"/>                                              <!--The error value to check the system state queue to used different predict ways-->
      <param name="max_velocity_x" value = "1.0"/>
      <param name="max_velocity_y" value = "1.0"/>
      <param name="max_velocity_z" value = "1.0"/>
</node>




</launch>
